:root{
    /* color */
    --main-yellow-color: #ffe898;
    --main-pink-color: #ffcac2;
    --main-blue-color:#c2dbff;
    --main-khaki-color: #b8ab7f;
    --main-red-color: #eb4d5c;
    --main-gray-color: #4e4e4e;
    --main-white-color: #fff;
    --footer-background: #f4f8f8;

    /* container-size */
    --container-size : 1200px
}

.hide-text {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
}

.unit-link{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    height: 64px;
    width: 100%;
    z-index: 100;
    overflow: hidden;
}

.header-size{
    max-width: 1200px;
    margin: 0 auto;
}

.header-wrapper{
    padding: 15px;
    padding-bottom: 0px;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    position: relative;
    z-index: 200;
    height: 30px;
}

.header-wrapper h1 {
    width: 130px ;
    height: 43px;
    position: absolute;
    left: 30px;
    background-image: url(../img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.menu-wrapper{
    display: flex;
    gap: 25px;
}

.menu > a{
    color: var(--main-gray-color);
    font-size: 18px;
}

.header-right{
    display: flex;
    position: absolute;
    right: 0;
}

.goto-store{
    position: relative;
    text-align: center;
    padding-right: 6px;
}

.goto-store::after{
    content: '';
    display: block;
    background-color: #b0b0b0;
    width: 2px;
    height: 17px;
    position: absolute;
    right: 0;
    top: 18%;
}

.header-right a{
    font-size: 14px;
    color: var(--main-gray-color);
    font-weight: bold;
}

.language{
    display: flex;
    gap: 6px;
    padding-top: 8px;
    height: 22px;
    overflow: hidden;
}

.language svg{
    width: 18px;
    height: 18px;
}

.language-wrapper{
    display: flex;
    gap: 8px;
    flex-direction: column;
}

#main{
    background-image: url(../img/main-img.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 560px;
    padding-bottom: 96px;
    box-sizing: border-box;
}

.main-text{
    display: flex;
    flex-direction: column;
    gap: 16px;
    transform: translateY(-50%);
}

.main-container-size{
    max-width: var(--container-size);
    margin: 0 auto;
    height: 100%;
}

#main .main-text{
    position: absolute;
    left: 0;
    top: 50%;
}

#main .main-container-size{
    position: relative;
}

.main-text span{
    color: var(--main-gray-color);
    line-height: 130%;
}

.main-text h2{
    color: var(--main-red-color);
    font-size: 40px;
    font-weight: bold;
    line-height: 150%;
}

.explane-main-text{
    text-align: center;
    margin-bottom: 64px;
    margin-top: 32px;
}

.mobile-br{
    display: none;
}

.explane-main-text h3{
    display: inline-block;
    font-size: 32px;
    color: var(--main-gray-color);
    font-weight: bold;
}

.explane-main-text p {
    color: var(--main-gray-color);
    font-size: 18px;
    margin-top: 16px;
}

.explane-infant-care-container{
    display: flex;
    margin-bottom: 128px;
}

#explane-infant-care{
    box-sizing: border-box;
}

.explnae-baby-img{
    flex-basis: 50%;
    border-radius: 10px;
    overflow: hidden;
}


.explane-infant-care-container-text{
    flex-basis: 50%;
}

.explane-mobile-img{
    position: absolute;
    width: 230px;
    height: 460px;
    left: 40%;
    transform: translate(-50%, 5%);
}

.explane-infant-care-container{
    position: relative;
}

.explane-infant-care-container-text{
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    padding-left: 100px;
}

.sleep-baby .explane-infant-care-container-text{
    padding-left: 0px;
    padding-right: 100px;
    text-align: end;
}

.heading-text{
    font-size: 60px;
    font-weight: bold;
    color: var(--main-red-color);
}

.sub-text{
    color: var(--main-gray-color);
    font-weight: bold;
    font-size: 18px;
}

.explane-infant-care-text{
    font-size: 16px;
    line-height: 150%;
}

.recommended-product{
    width: 160px;
    background-color: var(--main-red-color);
    position: relative;
}

.recommended-product span{
    color: var(--main-white-color);
    padding: 10px;
    display: inline-block;
}

.blue-square{
    position: absolute;
    right: -10%;
    top: -40%;
}

.pink-square{
    position: absolute;
    left: -8%;
    top: -50%;
}

.yellow-square{
    position: absolute;
    right: -5%;
    top: -20%;
}

.sleep-baby{
    flex-direction: revert;
}

.sleep-baby .explane-mobile-img {
    transform: translate(50% ,8%);
}

.app-heading-text{
    text-align: center;
    margin-bottom: 64px;
}

.app-heading-text p{
    font-size: 32px;
    color: var(--main-red-color);
    font-weight: bold;
    margin-bottom: 16px;
}

.app-heading-text span{
    font-size: 16px;
    color: var(--main-gray-color);
    font-weight: bold;
    margin-top: 16px;
}

.show-app{
    width: 824px;
    margin: 0 auto;
    overflow: hidden;
}

.allow-wrapper{
    position: relative;
    padding-bottom: 300px;
}

.mobile-img-wrapper{
    display: flex;
    position: relative;
}

.app-wrapper{
    display: flex;
}

.app-mobile-background li{
    position: relative;
}

.app-background-img{
    width: 824px;
}

.app-explane-text{
    position: relative;
}

.app-mobile-view{
    width: 360px;
    position: absolute;
}

.app-text-wrapper p{
    color: var(--main-white-color);
    font-size: 16px;
}

.app-text-wrapper span{
    font-size: 24px;
    font-weight: bold;
    color: var(--main-white-color);
}

.app-text-wrapper{
    position: absolute;
    right: 5%;
    bottom: 5%;
    text-align: end;
}

.app-text-wrapper p{
    margin-top: 16px;
    line-height: 150%;
}

.app-mobile-background{
    display: flex;
}

.mobile-view-wrapper{
    width: 380px;
    height: 740px;
    position: absolute;
    z-index: 100;
    top: -5%;   
    left: 10%; 
}

.make-mobile-phone{
    position: relative;
}

.make-mobile-view{
    width: 360px;
    height: 720px;
    border: 10px solid black;
    border-radius: 54px;
    overflow: hidden;
    position: relative;
}

.mobile-view-button{
    width: 10px;
    height: 60px;
    background-color: black;
    position: absolute;
    border-radius: 10px;
}

.top-button{
    left: 0;
    top: 25%;
    transform: translate(-50%, -50%);
}

.bottom-button{
    left: 0;
    top: 35%;
    transform: translate(-50%, -50%);
}

.on-off-view-button{
    right: 0;
    top: 25%;
    transform: translate(50%, -50%);
}

.app-mobile-view-wrapper{
    display: flex;

}

.app-mobile-view-wrapper figure{
    width: 345px;
    height: 722px;
    overflow: hidden;
}

.before-allow-area{
    position: absolute;
    left: 0;
    top: 30%;
    width: 150px;
    height: 150px;
}

.before-allow{
    border-top: 5px solid var(--main-gray-color);
    border-left: 5px solid var(--main-gray-color);
    width: 100px;
    height: 100px;
    transform-origin: bottom center ;
    transform: translate(65%, 0%) rotate(-45deg);
}

.next-allow{
    border-top: 5px solid var(--main-gray-color);
    border-right: 5px solid var(--main-gray-color);
    width: 100px;
    height: 100px;
    transform-origin: bottom center ;
    transform: translate(-65%, 0%) rotate(45deg);
}

.next-allow-area{
    position: absolute;
    right: 0;
    top: 30%;
    width: 150px;
    height: 150px;
}

#shopping-guide{
    background-color: var(--main-red-color);
    margin-bottom: 94px;
}

#shopping-guide .main-container-size{
    display: flex;
}

.shopping-guide-img-text-wrapper{
    margin-top: 24px;
}

.shopping-guide-img-area{
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
}

.shopping-guide-text-area{
    flex-basis: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.shopping-guide-text-area-text{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.shopping-guide-img-text-wrapper h3 {
    color: var(--main-white-color);
    font-size: 18px;
    text-align: center;
}

.shopping-guide-img-text-wrapper p {
    color: var(--main-white-color);
    font-size: 32px;
    font-weight: bold;
    margin-top: 8px;
    text-align: center;
}

.shopping-guide-back{
    background-color: var(--main-white-color);
    border-top-right-radius: 500px;
    border-top-left-radius: 500px;
    margin: 0 60px;
}

.shopping-guide-back figure{
    margin: 0 60px;
}

.shopping-guide-img-area-img-wrapper{
    margin-top: 24px;
}

.shopping-guide-text-area p{
    color: var(--main-white-color);
    font-size: 32px;
    font-weight: bold;
    line-height: 130%;
}

.shopping-guide-text-area span{
    color: var(--main-white-color);
    line-height: 150%;
}

.shopping-guide-text-area-text .shopping-guide-img-area-img-wrapper{
    display: none;
}

#shopping-tip{
    padding-bottom: 96px;
}

.step1-container{
    padding-bottom: 96px;
}

.step1-text-wrapper span{
    color: var(--main-gray-color);
    font-size: 18px;
    display: block;
    text-align: center;
    font-weight: bold;
}

.step1-text-wrapper h4{
    color: var(--main-red-color);
    font-weight: bold;
    text-align: center;
    font-size: 32px;
    line-height: 130%;
    margin-top: 16px;
}

.step1-text-wrapper p{
    color: var(--main-gray-color);
    font-size: 18px;
    text-align: center;
    margin-top: 16px;
}

.step1-containers{
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
}

.step1-contanier p{
    color: var(--main-gray-color);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 24px 0px;
    line-height: 150%;
}

.step1-contanier{
    box-shadow: 0px 0px 40px 16px rgba(0, 0, 0, 0.05);
    position: relative;
}

.mouse{
    position: absolute;
    top: 40%;
    right: 50%;
}

.step2-container{
    margin-top: 96px;
    display: flex;
}

.step2-main-img-container{
    flex-basis: 35%;
}

.step2-text-container{
    flex-basis: 80%;
}

.step2-main-slide-wrapper{
    display: flex;
}

.step2-main-img-container{
    width: 389px;
    overflow: hidden;
}

.step2-slide figure{
    width: 389px;
}


.step2-text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.step2-sub-slide-wrapper{
    display: flex;
}

.step2-text{
    margin: 0 auto;
}

.step2-text span{
    font-size: 18px;
    color: var(--main-gray-color);
    font-weight: bold;
}

.step2-text h4{
    font-size: 32px;
    color: var(--main-red-color);
    font-weight: bold;
    line-height: 130%;
    margin-top: 16px;
}

.step2-text p{
    font-size: 18px;
    color: var(--main-gray-color);
    font-weight: bold;
    line-height: 150%;
    margin-top: 16px;
}

.step3-category{
    margin-top: 96px;
    display: flex;
    justify-content: space-between;
}

.search-category span{
    font-size: 18px;
    color: var(--main-gray-color);
    font-weight: bold;
}

.search-category h4{
    font-size: 32px;
    color: var(--main-red-color);
    font-weight: bold;
    line-height: 130%;
}

.search-category p{
    font-size: 18px;
    color: var(--main-gray-color);
    font-weight: bold;
    line-height: 150%;    
    margin-top: 16px;
}

.search-here{
    border-bottom: 3px solid black;
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    padding: 5px;
    align-items: center;
}

.search-here p {
    color: #a3a3a3;
}

.example-category{
    display: flex;
    flex-direction: column;
    justify-content: inherit;
}

.categorys-wrapper{
    display: flex;
    justify-content: space-around;
    gap: 24px;
}

.block2{
    justify-content: center;
}

.category {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: var(--main-yellow-color);
    border-radius: 8px;
}

.category p {
    padding: 15px 0px ;
    width: 150px;
    color: var(--main-khaki-color);
    font-weight: bold;
}

.redblock{
    background-color: var(--main-red-color);
}

.category > .redblock{
    color: var(--main-white-color);
}

footer{
    padding: 43px 0px;
    background-color: var(--footer-background);
}

.footer-wrapper .main-container-size{
    display: flex;
    justify-content: space-between;
}

.footer-text-warpper{
    display: flex;
    flex-direction: column;
}

.footer-text-warpper h1{
    width: 130px ;
    height: 43px;
    background-image: url(../img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.footer-nav a {
    color: var(--main-gray-color);
    font-size: 14px;
    font-weight: bold;
}

.footer-information {
    display: flex;
    color: var(--main-gray-color);
    font-weight: bold;
}

.footer-text-warpper p {
    color: var(--main-gray-color);
    font-weight: bold;
    margin-top: 16px;
}

.footer-wrapper .main-container-size ul{
    display: flex;
    gap: 16px;
    align-items: end;
}

.youtube{
    position: relative;
}

.facebook{
    position: relative;
}

.insta{
    position: relative;
}

.twitter{
    position: relative;
}

.sns-wrapper li{
    width: 25px;
    height: 25px;
}

@media screen and (max-width: 1250px) {
    .blue-square{
        display: none;
    }

    .pink-square{
        display: none;
    }
    
    .yellow-square{
        display: none;
    }
}

@media screen and (max-width: 834px) {

    .header-right{
        display: none;
    }
    
    .header-wrapper{
        justify-content: end;
    }

    #main{
        background-size: cover;
        background-position: 38%;
        height: 790px;
        padding: 32px;
    }

    .main-text h2{
        font-size: 30px;
    }

    #explane-infant-care {
    padding: 0px 32px;
    }

    .explane-infant-care-container{
        flex-direction: column;
        gap: 24px;
    }

    .sleep-baby{
        flex-direction: column-reverse;
    }

    .explane-mobile-img{
        right: 0;
        transform: none;
        left: unset;
        top: 20%;
    }

    .sleep-baby .explane-mobile-img{
        transform: none;
    }

    .explane-infant-care-container-text{
        padding-left: 0;
    }

    .sleep-baby .explane-infant-care-container-text{
        padding-right: 0;
        text-align: start;
    }

    .mobile-view-wrapper{
        left: 0;
    }

    .next-allow-area{
        background-color: #dadada;
        border-radius: 50%;
        top: unset;
        width: 50px;
        height: 50px;
        right: 10%;
        bottom: 25%;
    }

    .before-allow-area{
        background-color: #dadada;
        border-radius: 50%;
        top: unset;
        width: 50px;
        height: 50px;
        left: unset;
        right: 35%;
        bottom: 25%;
    }

    .next-allow{
        border-top: 5px solid var(--main-white-color);
        border-right: 5px solid var(--main-white-color);
        width: 25px;
        height: 25px;
        transform: translate(-25% , 15%) rotate(45deg);
    }

    .before-allow{
        border-top: 5px solid var(--main-white-color);
        border-left: 5px solid var(--main-white-color);
        width: 25px;
        height: 25px;
        transform: translate(75% , 15%) rotate(-45deg);
        bottom: 25%;
        right: 25%;
        left: unset;
    }

    #shopping-guide .main-container-size{
        flex-direction: column;
    }

    .shopping-guide-img-area .shopping-guide-back{
        display: none;
    }

    .shopping-guide-text-area-text .shopping-guide-img-area-img-wrapper{
        display: block;
    }
    
    #shopping-guide{
        padding: 0px 32px;
    }

    .shopping-guide-text-area p{
        font-size: 24px;
        margin-top: 16px;
        margin: 16px auto;
    }

    .nobile-none{
        display: none;
    }

    .shopping-guide-img-text-wrapper p{
        margin-top: 16px;
    }

    .shopping-guide-img-area-img-wrapper{
        margin-top: 0px;
    }

    .shopping-guide-text-area span{
        margin: 16px auto;
        text-align: center;
        font-weight: bold;
    }

    #shopping-tip{
        padding: 32px;
    }

    .step1-contanier figure{
        flex-basis: 50%;
    }

    .step1-containers{
        flex-direction: column;
        gap: 32px;
    }

    .step1-contanier{
        display: flex;
        align-items: center;
    }

    .mouse {
        top: 55%;
        right: 70%;
    }

    .step2-sub-slide-wrapper{
        display: none;
    }

    .step2-container{
        display: flex;
        flex-direction: column-reverse;
    }

    .step2-text-container{
        text-align: center;
    }

    .step2-main-img-container{
        margin: 0 auto;
    }

    .step3-category{
        flex-direction: column;
    }

    .search-category{
        text-align: center;
    }

    .example-category{
        margin-top: 24px;
        gap: 16px;
    }

    footer{
        margin: 43px 36px;
    }

}

@media screen and (max-width: 360px) {
    
    .menu-wrapper{
        display: none;
    }

    .main-text{
        text-align: center;
    }

    .mobile-br{
        display: block;
    }

    .explane-main-text p {
        line-height: 150%;
    }

    .explane-main-text {
        margin-top: 72px;
    }

    #explane-infant-care{
        padding: 0px 16px;
    }

    .explane-mobile-img{
        position: unset;
    }

    .mobile{
        display: none;
    }

    .explane-mobile-img{
        margin: 0 auto;
    }

    .app-heading-text p{
        font-size: 24px;
    }

    .recommended-product {
        margin: 0 auto;
    }

    .show-app {
    width: 330px;
    height: 360px;
    }

    .make-mobile-view{
        width: 150px;
        height: 320px;
        border-radius: 35px;
        border: 5px solid black;
    }

    .mobile-view-wrapper{
        width: 160px;
        height: 330px;
    }

    .mobile-view-button{
        width: 5px;
        height: 30px;
    }

    .app-background-img{
        width: 328px;
    }

    .app-text-wrapper{
        position: unset;
        margin-top: 64px;
    }

    .app-text-wrapper p{
        color: var(--main-gray-color);
    }
    .app-text-wrapper span{
        color: var(--main-gray-color);
    }

    .shopping-guide-img-text-wrapper h3{
        font-size: 14px;
    }

    .shopping-guide-img-text-wrapper p{
        font-size: 20px;
    }

    .shopping-guide-text-area p{
        font-size: 16px;
    }

    .shopping-guide-text-area span{
        font-size: 14px;
    }

}