:root{
    /* color */
    --main-yellow-color: #ffe898;
    --main-pink-color: #ffcac2;
    --main-blue-color:#c2dbff;
    --main-khaki-color: #b8ab7f;
    --main-red-color: #eb4d5c;
    --main-gray-color: #4e4e4e;
    --main-white-color: #fff;

    /* container-size */
    --container-size : 1200px
}

.hide-text {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
}

/* .unit-link{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
} */

header{
    position: fixed;
    top: 0;
    left: 0;
    height: 64px;
    width: 100%;
    z-index: 100;
    overflow: hidden;
}

.header-size{
    max-width: 1200px;
    margin: 0 auto;
}

.header-wrapper{
    padding: 15px;
    padding-bottom: 0px;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    position: relative;
    z-index: 200;
    height: 30px;
}

h1{
    width: 130px ;
    height: 43px;
    position: absolute;
    left: 30px;
    background-image: url(../img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.menu-wrapper{
    display: flex;
    gap: 25px;
}

.menu > a{
    color: var(--main-gray-color);
    font-size: 18px;
}

.header-right{
    display: flex;
    position: absolute;
    right: 0;
}

.goto-store{
    position: relative;
    text-align: center;
    padding-right: 6px;
}

.goto-store::after{
    content: '';
    display: block;
    background-color: #b0b0b0;
    width: 2px;
    height: 17px;
    position: absolute;
    right: 0;
    top: 18%;
}

.header-right a{
    font-size: 14px;
    color: var(--main-gray-color);
    font-weight: bold;
}

.language{
    display: flex;
    gap: 6px;
    padding-top: 8px;
    height: 22px;
    overflow: hidden;
}

.language svg{
    width: 18px;
    height: 18px;
}

.language-wrapper{
    display: flex;
    gap: 8px;
    flex-direction: column;
}

#main{
    background-image: url(../img/main-img.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 560px;
    padding-bottom: 96px;
}

.main-text{
    display: flex;
    flex-direction: column;
    gap: 16px;
    transform: translateY(-50%);
}

.main-container-size{
    max-width: var(--container-size);
    margin: 0 auto;
    height: 100%;
}

#main .main-text{
    position: absolute;
    left: 0;
    top: 50%;
}

#main .main-container-size{
    position: relative;
}

.main-text span{
    color: var(--main-gray-color);
}

.main-text h2{
    color: var(--main-red-color);
    font-size: 40px;
    font-weight: bold;
}

.explane-main-text{
    text-align: center;
    margin-bottom: 64px;
}

.explane-main-text h3{
    display: inline-block;
    font-size: 32px;
    color: var(--main-gray-color);
    font-weight: bold;
}

.explane-main-text p {
    color: var(--main-gray-color);
    font-size: 18px;
    margin-top: 16px;
}

.explane-infant-care-container{
    display: flex;
    margin-bottom: 128px;
}

.explnae-baby-img{
    flex-basis: 50%;
    border-radius: 10px;
    overflow: hidden;
}


.explane-infant-care-container-text{
    flex-basis: 50%;
}

.explane-mobile-img{
    position: absolute;
    width: 230px;
    height: 460px;
    left: 40%;
    transform: translate(-50%, 5%);
}

.explane-infant-care-container{
    position: relative;
}

.explane-infant-care-container-text{
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    padding-left: 100px;
}

.sleep-baby .explane-infant-care-container-text{
    padding-left: 0px;
    padding-right: 100px;
    text-align: end;
}

.heading-text{
    font-size: 60px;
    font-weight: bold;
    color: var(--main-red-color);
}

.sub-text{
    color: var(--main-gray-color);
    font-weight: bold;
    font-size: 18px;
}

.explane-infant-care-text{
    font-size: 16px;
    line-height: 150%;
}

.recommended-product{
    width: 160px;
    background-color: var(--main-red-color);
    position: relative;
}

.recommended-product span{
    color: var(--main-white-color);
    padding: 10px;
    display: inline-block;
}

.blue-square{
    position: absolute;
    right: -10%;
    top: -40%;
}

.pink-square{
    position: absolute;
    left: -8%;
    top: -50%;
}

.yellow-square{
    position: absolute;
    right: -5%;
    top: -20%;
}

.sleep-baby{
    flex-direction: revert;
}

.sleep-baby .explane-mobile-img {
    transform: translate(50% ,8%);
}

.app-heading-text{
    text-align: center;
    margin-bottom: 64px;
}

.app-heading-text p{
    font-size: 32px;
    color: var(--main-red-color);
    font-weight: bold;
    margin-bottom: 16px;
}

.app-heading-text span{
    font-size: 16px;
    color: var(--main-gray-color);
    font-weight: bold;
    margin-top: 16px;
}

.show-app{
    width: 824px;
    margin: 0 auto;
    overflow: hidden;
}

.allow-wrapper{
    position: relative;
    padding-bottom: 300px;
}

.mobile-img-wrapper{
    display: flex;
    position: relative;
}

.app-wrapper{
    display: flex;
}

.app-background-img{
    position: relative;
    width: 824px;
}

.app-explane-text{
    position: relative;
}

.app-mobile-view{
    width: 360px;
    position: absolute;
}

.app-background-img p{
    color: var(--main-white-color);
    font-size: 16px;
}

.app-text-wrapper:first-child{
    font-size: 24px;
    font-weight: bold;
}

.app-text-wrapper{
    position: absolute;
    right: 5%;
    bottom: 5%;
    text-align: end;
}

.app-text-wrapper p{
    margin-top: 16px;
    line-height: 150%;
}

.app-mobile-background{
    display: flex;
}

.mobile-view-wrapper{
    width: 380px;
    height: 740px;
    position: absolute;
    z-index: 100;
    top: -5%;   
    left: 10%; 
}

.make-mobile-phone{
    position: relative;
}

.make-mobile-view{
    width: 360px;
    height: 720px;
    border: 10px solid black;
    border-radius: 54px;
    overflow: hidden;
    position: relative;
}

.mobile-view-button{
    width: 10px;
    height: 60px;
    background-color: black;
    position: absolute;
    border-radius: 10px;
}

.top-button{
    left: 0;
    top: 25%;
    transform: translate(-50%, -50%);
}

.bottom-button{
    left: 0;
    top: 35%;
    transform: translate(-50%, -50%);
}

.on-off-view-button{
    right: 0;
    top: 25%;
    transform: translate(50%, -50%);
}

.app-mobile-view-wrapper{
    display: flex;

}

.app-mobile-view-wrapper figure{
    width: 513px;
    height: 702px;
    border-radius: 54px;
    overflow: hidden;
}

.before-allow-area{
    position: absolute;
    left: 0;
    top: 30%;
    width: 150px;
    height: 150px;
}

.before-allow{
    border-top: 5px solid var(--main-gray-color);
    border-left: 5px solid var(--main-gray-color);
    width: 100px;
    height: 100px;
    transform-origin: bottom center ;
    transform: translate(65%, 0%) rotate(-45deg);
}

.next-allow{
    border-top: 5px solid var(--main-gray-color);
    border-right: 5px solid var(--main-gray-color);
    width: 100px;
    height: 100px;
    transform-origin: bottom center ;
    transform: translate(-65%, 0%) rotate(45deg);
}

.next-allow-area{
    position: absolute;
    right: 0;
    top: 30%;
    width: 150px;
    height: 150px;
}


